<html lang="en-US"><head>
    <meta charset="UTF-8">
	{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	{% if page.script %}
	<script src="{{ page.script }}"></script>
	{% endif %}
  </head>
  <body>
    <section class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
	  {% include nav_bar.html %}
    </section>

    {{ content }}
  </body>
</html>